flask<2.0.0
flask-cors
flask-login
flask-markdown
flask-sqlalchemy
sqlalchemy<1.4.0                # for flask-sqlalchemy
flask-socketio<5.0.0
python-socketio<5.0.0
python-engineio<4.0.0
apscheduler
discord-webhook
markdown
pycryptodome
    # core
psutil
selenium
celery[redis]
gevent==1.4.0                   # via apt-get
gevent-websocket
greenlet==0.4.15                # via apt-get
pillow==7.0.0                   # via apt-get
    # minimal
guessit
lxml==4.5.0                     # via apt-get
    # plugin: fileprocess
pyyaml
    # plugin: fileprocess beta
PlexAPI
    # plugin: plex
sqlitedict
oauth2client
google-api-python-client
    # plugin: gdrive scan