flask
flask-cors
flask-login
flask-sqlalchemy
flask-socketio<5.0.0
python-socketio<5.0.0
python-engineio<4.0.0
apscheduler
markdown
discord-webhook
telepot
multidict==5.1.0                # alpine 3.13
yarl==1.6.3                     # alpine 3.13
gevent==1.5.0                   # alpine 3.13
gevent-websocket
greenlet==0.4.17                # alpine 3.13
celery[redis]                   # use celery if not USE_CELERY="true"
pycryptodome==3.9.9             # alpine 3.13
psutil==5.8.0                   # alpine 3.13
selenium
    # core
lxml==4.6.2                     # alpine 3.13
PlexAPI
guessit
sqlitedict                      # gdrive_scan
oauth2client                    # gdrive_scan
google-api-python-client        # gdrive_scan
    # minimal
Pillow==7.2.0                   # alpine 3.13
python-qbittorrent              # plugin - downloader
transmissionrpc                 # plugin - downloader
youtube-dl
tmdbsimple                      # plugin - metadata
    # recommended